In [2]:
numero1 = 30
numero2 = 50
numero3 = 120

In [3]:
print (numero1)

30

In [4]:
numero1 > numero2

False

In [5]:
numero3 < numero1 < numero2

False

In [7]:
numero3 == numero2

False

In [8]:
numero2 != numero1

True

In [9]:
altura1 = 1.80
altura2 = 1.70

In [10]:
altura1 + altura2

3.5

In [11]:
altura1 - altura2

0.10000000000000009

In [12]:
altura1 % altura2

0.10000000000000009

In [13]:
altura1 / altura2

1.0588235294117647

In [15]:
round (altura1 / altura2 , 1)

1.1

In [24]:
nombre_completo = input ("Dime tu nombre y apellidos")

In [25]:
print (nombre_completo)

Ana Gallego

In [27]:
print (nombre_completo.upper())

ANA GALLEGO

In [28]:
print (nombre_completo.lower())

ana gallego

In [30]:
print (nombre_completo.title())

Ana Gallego

In [31]:
print (nombre_completo.capitalize())

Ana gallego

In [32]:
frase = input ("Dime una frase")

In [33]:
vocal = input ("Dime una vocal")

In [36]:
frase_mayus = frase.replace("a", "A")

In [37]:
print (frase_mayus)

Hoy estA nublAdo

In [38]:
lista_compra = input ("Hazme lista de la compra")

In [39]:
print (lista_compra)

peras, platanos, brocoli, huevos

In [58]:
lista_lista = lista_compra.split(",")

In [59]:
print (lista_lista)

['peras', ' platanos', ' brocoli', ' huevos']