In [1]:
#cread una lista de 10 numeros aleatorios con el siguiente codigo proporcionado por el ejercicio
import random
lista = random.sample(range(1,100), 10)

In [14]:
lista

[85, 87, 14, 1, 17, 19, 46, 69, 90, 33]

In [15]:
#cual es la longitud de la lista
len(lista)

10

In [16]:
#extrad el numero que esta en la tercera posicion
lista[2]

14

In [17]:
#ahora usando los indices negativos
lista[-8]

14

In [18]:
#preguntad en un input a una usuaria uno de los numero de la lista, en que posicion esta el numero elegido?
numero_elegido = input("dime un numero de la lista")
numero_elegido

'19'

In [19]:
lista.index(19)

5

In [ ]:
#ha elegido el numero19 que esta en la posicion 5, asi que sera el sexto de la lista

In [20]:
#extraed los valores que esten entre las posiciones 6 y 9 usando los indices negativos, debe salir una lista de 4 elementos
lista[5:9]

[19, 46, 69, 90]

In [21]:
#que numeros estan en las posiciones pares de la lista
lista[1::2]

[87, 1, 19, 69, 33]

In [23]:
#que numeros estan en las posiciones impares
lista[::2]

[85, 14, 17, 46, 90]

In [24]:
#nos dan las siguientes listas
nombres = ["Laura" , "Lorena", "Lupe", "Loreto", "Lucia"]
notas = [9, 8.5, 9.8, 8.9, 9.2]

In [25]:
#que nota ha sacado Lupe?
nombres.index("Lupe")

2

In [26]:
nombres[2]

'Lupe'

In [ ]:
#primero hemos sacado que Lupe esta en la posicion 2 con index() y preguntaremos por el valor de la posicion 2 en la lista de notas con []

In [27]:
#que alumna ha sacado la nota mas alta?
max(notas)

9.8

In [28]:
#la nota mas alta es 9.8 Ahora buscaremos en que posicion esta
notas.index(9.8)

2

In [29]:
#esta en posicion 2 asi que buscamos a la alumna con []
nombres[2]

'Lupe'

In [ ]:
#Lupe ha sacado 9.8 que es la nota mas alta

In [30]:
#que alumna ha sacado la nota mas baja? es mayor que 5?
min(notas)

8.5

In [31]:
notas.index(8.5)

1

In [32]:
nombres[1]

'Lorena'

In [ ]:
#la nota mas baja es 8.5, que esta en posicion 1 por lo que correspone a Lorena

In [33]:
8.5 > 5

True

In [ ]:
#si, la nota mas baja es mayor a 5

In [39]:
#ordenar la lista de notas de mayor a menor
notas.sort()

In [40]:
print (notas)

[8.5, 8.9, 9, 9.2, 9.8]

In [41]:
#primero las pondremos de menor a mayor y ahora de mayor a menos 
notas_nuevo_orden = notas.reverse()

In [43]:
notas_nuevo_orden = notas

In [44]:
notas_nuevo_orden

[9.8, 9.2, 9, 8.9, 8.5]

In [45]:
notas

[9.8, 9.2, 9, 8.9, 8.5]

In [46]:
#ordenad los nombres de mayor a menor, que ha pasado?
nombres.sort()

In [47]:
nombres

['Laura', 'Lorena', 'Loreto', 'Lucia', 'Lupe']

In [48]:
nombres.reverse()

In [49]:
nombres

['Lupe', 'Lucia', 'Loreto', 'Lorena', 'Laura']

In [50]:
#borrad la lista de notas
del notas

In [51]:
notas

NameError: name 'notas' is not defined

In [54]:
#nos proporcionan tres listas para los siguientes ejercicios
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [61]:
#unid las dos listas (todos los elementos juntos y dos listas juntas)
lunes.append(martes)

In [62]:
lunes

[34, 56, 82, [99, 64, 24]]

In [63]:
lunes.append(miercoles)

In [64]:
lunes

[34, 56, 82, [99, 64, 24], [12, 59, 71]]

In [68]:
#volvemos al principio para el otro ejerccio
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [69]:
lista_dias= lunes + martes + miercoles

In [70]:
lista_dias

[34, 56, 82, 99, 64, 24, 12, 59, 71]

In [72]:
#definid de nuevo las tres listas

In [87]:
lunes = [34, 56, 82]
martes = [99, 64, 24]
miercoles = [12, 59, 71]

In [88]:
#en la lista lunes un 100 en la primera posicion
lunes.insert(0,100)
lunes

[100, 34, 56, 82]

In [89]:
#en la lista martes un 100 en la tercera posicion
martes.insert(2,100)
martes

[99, 64, 100, 24]

In [90]:
#en la lista miercoles un 100 en la ultima posicion
miercoles.insert(3,100)
miercoles

[12, 59, 71, 100]