Este es el notebook del pair programming del 31 de octubre Phyton variables y booleanas

In [2]:
#Cread tres variables numericas de tipo integer llamadas numero1, numero2 y numero3
numero1 = 80
numero2 = 55
numero3 = 48

In [3]:
#en vuestro caso, es el numero1 mayor que el numero2
numero1 > numero2

True

In [4]:
#es el numero1 menor que el numero2 pero mayor que el numero3
numero2 > numero1 > numero3

False

In [5]:
#es el numero3 igual a numero2
numero3 == numero2

False

In [6]:
#es el numero2 distinto que el numero1
numero2 != numero1

True

In [10]:
#Cread dos variables numericas de tipo float con dos decimales, llamadas altura1 y altura2
altura1= 2.05
altura2 = 1.80

In [11]:
#cual es la suma de las dos alturas
altura1 + altura2

3.8499999999999996

In [12]:
#cual es la diferencia entre las dos alturas
altura1 - altura2

0.24999999999999978

In [13]:
#cual es el resto de la division de las dos alturas
altura1 % altura2

0.24999999999999978

In [16]:
#cual es el resultado de la division de las dos alturas, redondear a un decimal
division = round (altura1/altura2,1)
division

1.1

In [23]:
#escribid un programa usando input que pregunte al usuario su nombre y apellidos
nombre = input ("Dime tu nombre y apellidos")

In [26]:
#printead su nombre y apellidos todo en mayusculas
nombre_mayus = nombre.upper()
nombre_mayus

'ANA GALLEGO'

In [27]:
#printead su nombre y apellidos todo en minusculas
nombre_minus = nombre.lower()
nombre_minus

'ana gallego'

In [29]:
#printead nombre y apellidos con la primera letra del nombre y los apellidos en mayuscula y el resto en minuscula
nombre_pri = nombre.title()
nombre_pri

'Ana Gallego'

In [30]:
#printead solo la primera letra del nombre en mayuscula
nombre_cap = nombre.capitalize()
nombre_cap

'Ana gallego'

In [31]:
#usando input preguntad al usuario por una frase, almacenad en una variable
frase = input("Dime una frase")

In [33]:
frase

'cuando nos sentimos muy dispersos por las distracciones propias de una casa'

In [34]:
#un input que le pregunte por una vocal y almacenad el resultado en una variable
vocal= input("Dime una vocal")
vocal

'e'

In [35]:
#printead la misma frase pero con la vocal introducida en mayusculas
frase_mayus = frase.replace("e", "E")
frase_mayus

'cuando nos sEntimos muy dispErsos por las distraccionEs propias dE una casa'

In [47]:
#escribir un input que le pregunte al usuario por la lissta de la compra, separando cada elemento por comas
lista_compra = input("Hazme una lista de la compra separada por comas")
lista_compra

'Peras,brocoli,pan,platanos'

In [49]:
#devolved la lista de la compra donde veamos cada elemento en una linea
lista_compra1 = lista_compra.split(',')
lista_compra1

['Peras', 'brocoli', 'pan', 'platanos']

In [59]:
resultado_lista = '\n'.join(lista_compra1)
print(resultado_lista)

Peras
brocoli
pan
platanos