Ejercicios de pair programming del 4 noviembre

In [47]:
#creamos un diccionario con las keys: nombres, apellidos, edades e hijos.
#Cada value sera una lista que iremos creando  con inputs
diccionario1 = {"Nombres" : [], "Apellidos" : [], "Edades" : [], "Hijos" : []}

In [48]:
#comprobamos
diccionario1

{'Nombres': [], 'Apellidos': [], 'Edades': [], 'Hijos': []}

In [70]:
#cread un input que pregunte por tres nombres para almacenar en una lista en la value de nombres
value1 = input("dime tres nombres").split(",")
print (value1)

['Maria', 'Carmen', 'Luisa']

In [71]:
#crea un input que pregunte por tres apellidos para almacenar en una lista que sera el value de apellidos
value2 = input("Dime tres apellidos").split(",")
print (value2)

['Lopez', 'Gomez', 'Sanchez']

In [72]:
#crea un input que pregunte por tres edades, se almacenan en una lista que sera el value de edades
value3 = input("dime tres edades").split(",")
print (value3)

['25', '26', '45']

In [74]:
#crea un input que pregunte por tres numeros de hijos, se almacenan en una lista y sera la value de la key hijos
value4 = input("dime tres numeros de hijos").split(",")
print (value4)

['5', '4', '2']

In [75]:
#crear un diccionario con los resultados de los input
diccionario1 = {"Nombres" : value1, "Apellidos" : value2, "Edades" : value3, "Hijos" : value4}

In [76]:
diccionario1

{'Nombres': ['Maria', 'Carmen', 'Luisa'],
 'Apellidos': ['Lopez', 'Gomez', 'Sanchez'],
 'Edades': ['25', '26', '45'],
 'Hijos': ['5', '4', '2']}

In [77]:
#cread una nueva key con el numero de hermanos
diccionario1.setdefault("Hermanos" , [1, 3, 2])

[1, 3, 2]

In [78]:
#confirmamos
diccionario1

{'Nombres': ['Maria', 'Carmen', 'Luisa'],
 'Apellidos': ['Lopez', 'Gomez', 'Sanchez'],
 'Edades': ['25', '26', '45'],
 'Hijos': ['5', '4', '2'],
 'Hermanos': [1, 3, 2]}

In [79]:
#cuales son las keys de nuestro diccionario
diccionario1.keys()

dict_keys(['Nombres', 'Apellidos', 'Edades', 'Hijos', 'Hermanos'])

In [80]:
#extraer los values de la key nombres de dos maneras diferentes
diccionario1.get("Nombres")

['Maria', 'Carmen', 'Luisa']

In [81]:
diccionario1.setdefault("Nombres")

['Maria', 'Carmen', 'Luisa']

In [82]:
#extraer los valores de la key nacionalidad y si no existe que nos devuelva desconocida
diccionario1.setdefault("Nacionalidad" , "desconocida")

'desconocida'

In [83]:
#comprobamos
diccionario1

{'Nombres': ['Maria', 'Carmen', 'Luisa'],
 'Apellidos': ['Lopez', 'Gomez', 'Sanchez'],
 'Edades': ['25', '26', '45'],
 'Hijos': ['5', '4', '2'],
 'Hermanos': [1, 3, 2],
 'Nacionalidad': 'desconocida'}

In [84]:
#ordenad los elementos del diccionario basandonos en keys y values
sorted(diccionario1.items())

[('Apellidos', ['Lopez', 'Gomez', 'Sanchez']),
 ('Edades', ['25', '26', '45']),
 ('Hermanos', [1, 3, 2]),
 ('Hijos', ['5', '4', '2']),
 ('Nacionalidad', 'desconocida'),
 ('Nombres', ['Maria', 'Carmen', 'Luisa'])]

In [85]:
#convertid la lista de tuplas anterior en un diccionario
diccionario2 = dict (sorted(diccionario1.items()))

In [86]:
#comprobamos
diccionario2

{'Apellidos': ['Lopez', 'Gomez', 'Sanchez'],
 'Edades': ['25', '26', '45'],
 'Hermanos': [1, 3, 2],
 'Hijos': ['5', '4', '2'],
 'Nacionalidad': 'desconocida',
 'Nombres': ['Maria', 'Carmen', 'Luisa']}

In [87]:
#Elimina la key de nacionalidad
diccionario1.pop("Nacionalidad")

'desconocida'

In [88]:
#comprobamos
diccionario1

{'Nombres': ['Maria', 'Carmen', 'Luisa'],
 'Apellidos': ['Lopez', 'Gomez', 'Sanchez'],
 'Edades': ['25', '26', '45'],
 'Hijos': ['5', '4', '2'],
 'Hermanos': [1, 3, 2]}

In [90]:
#que persona tiene mayor numero de hijos?
#sacamos el value de la key hijos
max(diccionario1.get("Hijos"))

'5'

In [92]:
#5 es el mayor numero de hijos, para saber en que posicion esta el 5:
diccionario1.get("Hijos").index('5')

0

In [93]:
#buscamos en la key nombre cual es la value que esta en posicion 0:
diccionario1.get("Nombres")[0]

'Maria'

Maria es la persona que tiene mas hijos,5.

In [94]:
#quien es la persona mas joven
#buscamos el minimo en la key edades
min(diccionario1.get("Edades"))

'25'

In [95]:
#25 años tiene la persona mas joven
#Buscamos la posicion de 25 en la lista de edades
diccionario1.get("Edades").index('25')

0

In [96]:
#La persona con 25 años esta en la posicion 0 de nombres
diccionario1.get("Nombres")[0]

'Maria'

Maria es la persona mas joven del diccionario, tiene 25 años