In [17]:
nombres_amigos = input("Dime el nombre de tres amigos")

In [18]:
nombres_lista = nombres_amigos.split(",")

In [19]:
print (nombres_lista)

['Marta', ' Pepa', ' Lucia']

In [20]:
print (type(nombres_lista))

<class 'list'>

In [21]:
alturas_amigos = input("Dime las alturas de tus amigos")

In [22]:
lista_alturas = alturas_amigos.split(",")

In [23]:
print (lista_alturas)

['1.45', ' 1.67', ' 1.57']

In [24]:
lista_alturas = [float(i) for i in lista_alturas]

In [25]:
lista_alturas.sort()

In [26]:
lista_alturas

[1.45, 1.57, 1.67]

In [27]:
lista_alturas.sort(reverse=True)

In [28]:
lista_alturas

[1.67, 1.57, 1.45]

In [29]:
nombres_lista

['Marta', ' Pepa', ' Lucia']

In [30]:
nombres_lista.sort()

In [31]:
nombres_lista

[' Lucia', ' Pepa', 'Marta']

In [32]:
nombres_lista.sort(reverse=True)

In [33]:
nombres_lista

['Marta', ' Pepa', ' Lucia']

In [34]:
lista1 = [44, 55, 67, 44, 98, 29]

In [35]:
lista2 = [34, 56, 56, 78, 67, 56]

In [51]:
lista_lista = lista1 , lista2

In [52]:
lista_lista

([44, 55, 67, 44, 98, 29], [34, 56, 56, 78, 67, 56])

In [53]:
lista_numeros = lista1 + lista2

In [54]:
lista_numeros

[44, 55, 67, 44, 98, 29, 34, 56, 56, 78, 67, 56]

In [56]:
print(lista_lista.count(67))

0

In [55]:
print (lista_numeros.count(67))

2

In [60]:
lista_numeros.reverse()

In [61]:
lista_numeros

[56, 67, 78, 56, 56, 34, 29, 98, 44, 67, 55, 44]